* {
    box-sizing: border-box;
    }

body {
    position: relative;
    font-family: 'Muli', sans-serif;
    background-color: #2a2a2a;

    }

a {
    text-decoration: none;
    }

a:hover {
    text-decoration: none;
    }

h1,
header {
    color: white;
    text-align: center;
    margin-top: 0;
    }

h1 {
    font-size: 36pt;
    font-weight: bold;
    }

h2 {
    font-size: 26pt;
    font-weight: bold;
    }

h2,
p,
div {
    color: white;
    text-align: center;
    vertical-align: middle;
    }

p {
    font-size: 20pt;
    }

.container {  
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    } 

.header {
    background-color: #de2b24;
    padding-bottom: 130px;
    }
  
.blog .container {
      padding-right: 30px;
      padding-left: 30px;
    }

.blog__title,
.contact__title {
    padding-top: 100px;
    }


  
.blog-item {
    overflow: hidden;
    }
  
.blog-item__image {
    padding: 0;
    overflow: hidden;
    }


  
.blog-item__image img {
    width: 100%;
    height: 100%;
    }
  
    
  
.blog-item__post {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f35e59;
    }
  
.blog-item__date {
    margin: 30px 0;
    font-size: 0.875rem;
    }
  
.blog-item__excerpt {
    font-size: 0.875rem;
    }

.blog__description::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
} 


.main {
    background-color: #1287bf;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.contacts {
    position: relative;
    max-width: 680px;
    height: 0;
    background-color: #fff;
    top: 250px;
    left:	50%;	
    transform:	translate(-50%,	-50%);
    transition: 0.5s;
    margin-top: 70px;
    justify-content: center;
    }


.contacts:before {
    display: none;
    position: absolute;
    content: " ";
    border: 70px solid transparent;
    border-bottom: 35px solid white;
    top: -102px;
    left: 50%;
    transform: translate(-50%, 0);
    }

.contacts.tool:before {
    display: block;
    position: absolute;
    content: " ";
    border: 70px solid transparent;
    border-bottom: 35px solid white;
    top: -102px;
    left: 50%;
    transform: translate(-50%, 0);
    }

.fas{
    font-size: 65px;
    }

.contacts__items {
    margin-left: auto;
    margin-right: auto;
    }

.contacts__text {
    display: block;
    color: #8a8a8a;
    font-size: 15px;
    padding-top: 80px;
    }

.contact__description {
    margin-bottom: 45px;
    }

.btn-outline-danger {
    width: 165px;
    height: 50px;
    background-color: #de2b24;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
} 


.submit-text {
    padding-top: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts__description {
    position: absolute;
    display: none; 
    margin-top: 50px;
    color: #8a8a8a;
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;  
    }

.form {
    margin-top: 145px;
    display: none;
    }

.close__circle {
    position: absolute;
    border-radius: 50%;
    padding-right: 0;
    top: -25px;
    width: 50px;
    height: 50px;
    z-index: 100;
    background-color: red;
    align-items: flex-end;
    right: -25px;   
    border: 2px solid white;
    display: none;
    }
    
.close__circle:before, 
.close__circle:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
    }

.close__circle:before {
    transform: rotate(35deg);
    left: 47%;
    top: 15%;
    }

.close__circle:after {
    transform: rotate(-35deg);
    left: 47%;
    top: 15%;    
    }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #2a2a2a;
    margin-top: 50px;

    }


.social-text {
    font-size: 20px;
    }

.social__text,
.social__email,
.copyright {
    font-size: 15px;
    }

.footer__content-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;

    }

.social__icons {
    margin-top: 35px;
    }

.social__text {
    margin-top: 35px;
    }

.social__email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: #515151;
    margin-top: 35px;
    border: none;
}

.footer__copyright {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    background-color: #515151;
    height: 55px;
    }

.social-subscribe {
    display: flex; 
    justify-content: center;
    }

.footer__copyright {
    margin-top: 85px;
    }

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    transition: 0.2s;

    }

.icon-link  {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    margin: 0 15px;
    transition: 0.2s;
    }



.img-social {
    padding: auto;
    transform: translate(0, 50%);
    }

.subscribe:hover,
.subscribe:focus,
.icon-link:hover,
.icon-link:focus {
    border-color: #de2b24;
    }

@media (max-width: 720px) {

    .blog-item__post,
    .blog-item__image {
        height: 345px;
        }

    .form {
        margin-top: 160px;
        }
    }

@media (max-width: 576px) {

  .form {
      margin-top: 100px;
    }

  .contacts__description {
      margin-top: 25px;
      font-size: 14px;
    }

  .contact__title {
      font-size: 25px;
    }

  .blog__description {
    font-size: 16px;
    }

    .footer__content-social {
    width: 100%;

    }

    .submit {
        bottom: 5px;
    }
}

@media (max-width: 768px) {
    .footer__content-social {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 470px) {
    .contacts__description {
        font-size: 12px;

    }
    .icon-link {
        margin: 0 5px;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .form {
        margin-top: 120px;
    }
}

